{% extends "app/homepage.html.twig" %}

{% block title %}
    Check for your order
{% endblock %}

{% block body %}
    <main class="monit-req">
        <section class="form">
            <p>Insert order id</p>
            {{form_start(req)}}
            {{form_widget(req.id)}}
            {{form_widget(req.Check)}}
            {{form_end(req)}}
        </section>
    </mian>
{% endblock %}
