{% extends 'app/index.html.twig' %}

{% block addition %}
	Order - Summary
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('/styles/app/order.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="summary-org"></div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('js/orderSummary.js')}}"></script>
{% endblock %}
