.monitor-org {
  width: 75%;
  margin: 0.75rem auto;
}
form {
  margin: 0 auto 0.75rem;
  width: 40%;
  position: relative;
}
label {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  opacity: 1;
}
input:focus ~ label,
input:valid ~ label {
  opacity: 0;
}
input {
  width: 60%;
  height: 2rem;
  border: 1px solid red;
  border-radius: 16px;
  padding: 0.25rem 0.5rem;
}
button {
  width: 35%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 16px;
}

.order-status {
  width: 55%;
  margin: 2rem auto;
}

.order-status p {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.order-status p span:first-of-type {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}
.order-status p span:last-of-type {
  color: grey;
  font-size: 1.25rem;
}
