.monitor-org {
  width: 75%;
  margin: 0.75rem auto;
}
form {
  margin: 0 auto 0.75rem;
  width: 40%;
}
input {
  width: 60%;
  height: 2rem;
  border: 1px solid red;
  border-radius: 16px;
  padding: 0.25rem 0.5rem;
}
button {
  width: 35%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 16px;
}
