* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgrgb(235, 235, 235);
}
.nav {
  width: 80%;
  margin: 1% auto;
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.nav a {
  color: #000;
}
.phone i {
  color: darkgreen;
  font-size: 35px;
}

.nav .label {
  font-family: "Indie Flower", cursive;
}
.nav .links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.nav .links a {
  font-family: "Blinker", sans-serif;
}
.work-hours,
.greet {
  cursor: default;
}

.greet {
  background-image: url("../images/pizza.jpg");
  width: 100%;
}
.content {
  height: 600px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}
.content h2 {
  font-size: 45px;
}
.content p {
  font-size: 25px;
}

.details {
  width: 50%;
  min-height: 200px;
  margin: auto;
  display: flex;
}
.location,
.work-hours {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location a {
  color: blue;
}
.location span,
.work-hours > p,
.work-hours span p {
  height: 30px;
  font-size: 18px;
}
.work-hours span p {
  display: flex;
}
.work-hours span p span {
  flex: 1;
}
.fa-map-marker-alt {
  color: red;
}
.open {
  color: green;
}
.closed {
  color: red;
}

/* Meals */
.menuContainer {
  width: 80%;
  margin: 1% auto;
  cursor: default;
}
.menu {
  height: 650px;
  overflow-y: scroll;
  padding: 15px;
}
.menu > section {
  width: 95%;
  min-height: 170px;
  margin: 1.6% auto;
  padding: 0.2% 0;
  background-color: rgb(247, 231, 231);
}
.menu section h3 {
  font-size: 40px;
  margin: 1%;
}
.menu section .meal {
  width: 95%;
  margin: 1% auto;
  min-height: 75px;
  max-height: 120px;
  padding: 0 10px;
  font-family: "Dosis", sans-serif;
  border-bottom: 1px solid #000;
}
.meal p:first-of-type {
  font-size: 30px;
}
.meal p span:first-of-type {
  font-weight: 600;
  font-family: "Indie Flower", cursive;
}
.meal p span:last-of-type {
  color: green;
  font-size: 25px;
  font-weight: bold;
  float: right;
  margin: 1%;
}
.meal p:last-of-type {
  margin: 1% 0;
  width: 80%;
  font-size: 18px;
}
.meal p:last-of-type span:last-of-type {
  color: #000;
  font-size: 18px;
  float: unset;
  margin: 0;
}

.error {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.error h1 {
  font-size: 35px;
}
.error p {
  font-size: 20px;
}

/* Order */

/* Summary */
.summary {
  width: 75%;
  margin: 2% auto;
}
.summary .address {
  width: 65%;
  margin: auto;
  text-align: center;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address h1 {
  font-size: 50px;
}
.address p {
  font-size: 30px;
}
.summary .list {
  min-height: 400px;
  max-height: 600px;
  overflow-y: auto;
  width: 90%;
  margin: auto;
}
.list h2 {
  font-size: 40px;
}
.list .mealCont {
  display: inline-block;
  width: 25%;
  height: 85px;
  margin: 1% 4%;
  border: 1px solid #000;
  box-shadow: 0 0 10px 3px lightslategray;
}
.mealCont h3 {
  font-size: 25px;
  margin: 3% 5%;
}
.mealCont p {
  text-align: center;
}
.mealCont p i {
  color: green;
}
.summary button {
  width: 20%;
  float: right;
  margin: 0 5%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: transparent;
  color: red;
  outline: none;
  cursor: pointer;
}
