* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(235, 235, 235);
}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background: rgb(167, 15, 15);
}
.nav {
  width: 100%;
  height: 10vh;
  margin: 1.5vh auto;
  font-size: 5vh;
  display: flex;
  padding: 0 15vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-weight: bold;
}
.nav a {
  color: #000;
}

.nav .label {
  font-family: "Indie Flower", cursive;
}
.nav .links {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.nav .links a {
  font-family: "Blinker", sans-serif;
}
.work-hours,
.greet-org {
  cursor: default;
}
.greet-org {
  width: 100%;
  height: 100vh;
}
.greet {
  background-image: url("../images/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.content {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.content h2 {
  font-size: 8vh;
}
.content p {
  font-size: 5vh;
}

.details {
  width: 75%;
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.location,
.work-hours {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.location a {
  color: blue;
  font-size: 3vh;
}
.location span,
.work-hours > p,
.work-hours > span {
  width: 100%;
  margin: 1.5vh 0;
}
.work-hours span p {
  display: flex;
}
.work-hours p {
  font-size: 4vh;
  font-weight: bold;
}
.work-hours span p span {
  flex: 1;
  font-size: 3.5vh;
  font-weight: bold;
}
.fa-map-marker-alt {
  color: red;
}
.open {
  color: green;
}
.closed {
  color: red;
}

/* Meals */
.menuContainer {
  width: 90%;
  height: 88vh;
  cursor: default;
  position: absolute;
  top: 10vh;
  left: 5%;
  box-shadow: 0 3px 5px rgb(184, 182, 182);
  padding: 1.5vh 1vw;
}
.menu {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.menu > div {
  width: 98%;
  margin: 1% auto;
  padding: 0.3vh 0.3vw;
}
.menu div h3 {
  font-size: 5.5vh;
  margin: 0.7vh 0.7vw;
}
.menu div .meal {
  width: 98%;
  margin: 1% auto;
  height: 10vh;
  padding: 0 0.7vw;
  font-family: "Dosis", sans-serif;
  border-bottom: 1px solid #000;
}
.meal p:first-of-type {
  font-size: 3.5vh;
}
.meal p span:first-of-type {
  font-weight: 600;
  font-family: "Indie Flower", cursive;
}
.meal p span:last-of-type {
  color: green;
  font-size: 4.5vh;
  font-weight: bold;
  float: right;
  margin: 1vh 1vw;
}
.meal p:last-of-type {
  margin: 0.5vh 0.1vw;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.5vh;
}

.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error h1 {
  font-size: 7vh;
}
.error p {
  font-size: 4.5vh;
}

/* Order */
.order {
  width: 80%;
  height: 88vh;
  position: absolute;
  top: 10vh;
  left: 10%;
}
.order form {
  width: 90%;
  height: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order input {
  width: 90%;
  outline: none;
  margin: 2% auto;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  font-size: 30px;
  height: 60px;
  padding: 8px;
}
.order input::placeholder {
  color: red;
}
.order button {
  margin: 1% auto;
  width: 50%;
  height: 50px;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  color: red;
  font-size: 25px;
  background-color: transparent;
}

/* Pick */
.pickEm {
  width: 90%;
  height: 88vh;
  position: absolute;
  top: 10vh;
  left: 5%;
  padding: 1.5vh 1vw;
}
.pickEm .items {
  height: 88%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
.items .itemCont {
  width: 22%;
  height: 18vh;
  margin: 1vh auto;
  border: 1px solid #000;
  box-shadow: 0 5px 2px lightgray;
  border-radius: 5px;
  padding: 0.5vh 0.5vw;
}
.itemCont .name {
  width: 100%;
  height: 50%;
  font-size: 4vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.itemCont .price {
  width: 35%;
  height: 50%;
  font-size: 3.5vh;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: inline-block;
}
.price i {
  color: green;
  font-size: 22px;
}
.itemCont .counter {
  width: 30%;
  height: 50%;
  float: right;
}
.counter input {
  outline: none;
  height: 50%;
  font-size: 2vh;
  border: none;
  width: 100%;
}
.pickEm .proceed {
  display: flex;
  justify-content: space-evenly;
  float: right;
  height: 10%;
  font-size: 4vh;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  margin: 1% 0;
  width: 20%;
}
/* Summary */
.summary {
  width: 85%;
  height: 88vh;
  position: absolute;
  top: 10vh;
  left: 7.5%;
  padding: 2vh 0.7vw;
}
.summary .list {
  height: 80%;
  overflow-y: auto;
  width: 85%;
  margin: 2.5% auto;
}
.list h2 {
  font-size: 5vh;
  margin: 0.5vh 0.5vw;
}
.list .mealCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5vw;
  width: 75%;
  height: 10vh;
  margin: 0 auto;
  border: 1px solid #000000;
}
.list .mealCont:nth-child(odd) {
  background-color: rgb(184, 220, 231);
}
.mealCont h3 {
  font-size: 3.5vh;
}
.mealCont p {
  text-align: right;
  font-size: 3vh;
  width: 35%;
}
p .fa-dollar-sign {
  color: green;
}
p .fa-map-marker-alt {
  color: red;
}
.summary .foot {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.foot .ad-data {
  flex: 3;
}
.foot .total-sum {
  flex: 1;
}
.foot .sub {
  flex: 0.8;
}
.foot button {
  width: 100%;
  height: 6.5vh;
  border-radius: 5px;
  border: 1px solid red;
  background-color: transparent;
  color: red;
  outline: none;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
}

.foot p {
  font-size: 4vh;
  font-weight: bold;
}

/* Monitor */
.orderStatus {
  width: 75%;
  height: 88vh;
  position: absolute;
  left: 12.5%;
  top: 10vh;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderStatus .status {
  font-size: 7vh;
  margin: 1vh 0;
}
.orderStatus #ordered span {
  color: red;
}
.orderStatus #processing span {
  color: yellow;
}
.orderStatus #delivered span {
  color: green;
}
.orderStatus .created {
  font-size: 5.5vh;
  margin: 1vh 0;
}
.created span {
  color: rgb(98, 18, 18);
}
.mem-req {
  font-size: 3.5vh;
  margin: 5vh 0 0;
}

.monit-req {
  height: 88vh;
  width: 75%;
  position: absolute;
  top: 10vh;
  left: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monit-req .form {
  width: 50%;
  height: 80%;
  background-color: #f5f5f5f1;
}
.monit-req p {
  font-size: 7vh;
  margin: 3vh 0 0;
  text-align: center;
}
.monit-req .form form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.monit-req input {
  width: 90%;
  height: 7vh;
  border: none;
  background-color: #f8c6c6;
  border-radius: 8px;
  font-size: 4vh;
  outline: none;
  padding: 0.3vh 1vw;
  color: #000;
  margin: 1vh auto;
}
.monit-req input::placeholder {
  color: #000;
}
.monit-req button {
  width: 50%;
  height: 8vh;
  margin: 1vh auto;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  font-size: 4.5vh;
  cursor: pointer;
  background-color: transparent;
}
