<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> {% block refresh %}{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link href="{{asset('styles/alerts.css')}}" rel="stylesheet">
		<link href="{{asset('styles/app.css')}}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
